@use './colours.scss';
@use './fonts.scss';

@mixin title($theme: $light-blue) {
  background: $theme;
}

@mixin form($theme: $dark-blue) {
  input: $theme
}

@mixin submitButton($theme: $dark-blue) {
  background: $theme
}
