@use './colours.scss' as * ;
@use './fonts.scss' as * ;


@mixin page() {
  padding: 0 5em 0 5em;
}

@mixin title() {
  color: $dark-blue;
  font-size: $large-font;
  text-align: center;
}

@mixin form($theme: $dark-blue) {
  input: $theme;
  display: flex;
  flex-direction: column;
}

@mixin labels() {
  color: $dark-blue;
  font-weight: $extra-bold;
}

@mixin inputs() {
  border: 1px solid $dark-blue;
  color: $dark-blue;
  width: 100%;
  height: 2em;
  border-radius:0.25em;
}

@mixin submitButton() {
  background: $dark-blue;
  color: $light-blue;
  padding: 1em;
  border: none;
  border-radius: 0.25em;
  font-size: 1.5em;
  font-weight: $extra-bold;
  margin-top: 2em;
}
