@use 'styles/mixins';
@use 'styles/colours' as *;

body {
  background: $light-blue;
}

.page {
 @include mixins.page;
}

.title {
  @include mixins.title
}

.form {
  @include mixins.form;
  
}

.submitButton {
  @include mixins.submitButton
}

.submitButton:hover {
  cursor: pointer;
}
span{
  display:flex;
  flex-direction:row;
  margin-bottom: 1em;
  label{ 
    @include mixins.labels;
    width: 50%;
  }
}
input{
  @include mixins.inputs;
  width: 100%;
  height: 2em;
  border-radius:0.25em;
}

input:active {
  border: 1px solid red;
}
